@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  font-size: 62.5%;
  transition: all 1s ease-in-out;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111111f0;
  color: var(--primary-color);
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 0.8rem;
  padding: 1.2rem 1.6rem;
  font-weight: 500;
  font-size: 2.4rem;
  position: absolute;
  top: 4rem;
  cursor: pointer;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  margin-top: 10rem;
  width: 30rem;
  height: 30rem;
  background-color: #7777776c;
  border-radius: 50%;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6.5rem;
  width: 0.5rem;
  background-color: var(--primary-color);
  transform-origin: bottom center;
  transition: all 0.5s ease;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 10rem;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 10rem;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  font-size: 8rem;
  font-weight: bold;
}

.date {
  color: #aaa;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  transition: all 0.5s ease-in;
}

.footer {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  background-color: var(--primary-color);
  border-radius: 3.5%;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0rem;
  width: 100vw;
  height: 6rem;
}

.footer a {
  /* text-decoration: none; */
  color: var(--secondary-color);
}
