@import url("https://fonts.googleapis.com/css?family=Ubuntu");

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("/ps.jpeg") no-repeat center center/cover;
  position: absolute;
  top: -2rem;
  left: -2rem;
  height: calc(100vh + 6rem);
  width: calc(100vw + 6rem);
  z-index: -1;
  filter: blur(0rem);
}

.loading-text {
  font-size: 5rem;
}
