@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box; /* resets the box-sizing property in order to prevent addition of padding & borders to the width of elements in the document */
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d7ceac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1 {
  margin: 1rem;
  font-size: 4rem;
}

.box {
  background-color: rgb(68, 131, 160);
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 20rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 2rem 2rem rgba(0, 0, 0, 0.3);
  margin: 1rem;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 4.5rem;
}
